@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Poppins");


body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgb(203, 224, 245);
    margin: 0;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    width: 100%;
    min-height: 75px;
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0px;
}

.icon, .text{
    color: #ffffff;
}

/*-------------MENU-----------*/
.navigation {
    position: relative;
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #3385ff 0%, #005be4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

ul {
    display: flex;
    width: 350px;
    padding: 0;
}

li {
    position:relative;
    list-style: none;
    width: 150px;
    height: 70px;
    z-index: 1;
}

li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

a .icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
}

li.active a .icon {
    transform: translateY(-35px);
}

a .text{
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

li.active a .text {
    opacity: 1;
    transform: translateY(10px);
}

.indicator {
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: tomato;
    box-sizing: border-box;
    border-radius: 50%;
    border: 6px solid #ffffff;
    transition: 0.5s;
}

.indicator::before,
.indicator::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
}

/*.indicator::before {
    left: -22px;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 #ffffff;
}

.indicator::after {
    right: -22px;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 #ffffff;
}*/

li.active~.indicator {
    --x: 0;
    transform: translateX(var(--x));
}

li:nth-child(1).active~.indicator{ --x: 22px; }
li:nth-child(2).active~.indicator{ --x: 140px; }
li:nth-child(3).active~.indicator{ --x: 255px; }
/*-----------END MENU----------*/

/*-----------CONTENT-----------*/
.content {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    width: auto;
  }

  .content2 {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

main {
    min-height: 850px;
    margin-top: 10px;
    text-align: left;
    width: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 5rem;
}

table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}

th{
    text-align: left;
    padding: 8px;
    background-color: dodgerblue;
    color: #fff;
}

td{
    padding: 5px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #D6EEEE;
  }



.collapsible {
    background: linear-gradient(to bottom, #3385ff 0%, #005be4 100%);
    color: white;
    cursor: pointer;
    padding: 18px;
    margin-bottom: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 2rem;
  }
  
  .activate, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .activate:after {
    content: "\2212";
  }

  .career {
    height: auto;
    width: auto;
    background-color: rgb(221, 232, 253);
    border: 2px solid rgb(194, 206, 247);
    padding: 5px;
    margin: 5px;
    border-radius: 0.5rem;
  }
  
  .award {
    height: auto;
    width: auto;
    background-color: rgb(221, 232, 253);
    border: 2px solid rgb(194, 206, 247);
    padding: 10px;
    margin: 10px;
    border-radius: 0.5rem;
  }

  .certificate-image {
    width: 50px; /* Adjust the width as needed */
    vertical-align: right; /* Aligns image vertically with text */
    
}

.certificate-image2 {
    width: 50px; /* Adjust the width as needed */
    vertical-align: right; /* Aligns image vertically with text */
    
}

.certificate-image3 {
    width: 50px; /* Adjust the width as needed */
    vertical-align: right; /* Aligns image vertically with text */
   
}
.certificate-title {
    font-size: 18px; /* Adjust the font size as needed */
}

.call {
    background: linear-gradient(to bottom, #3385ff 0%, #005be4 100%);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 2rem;
  }

  .mail {
    background: linear-gradient(to bottom, #3385ff 0%, #005be4 100%);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 2rem;
  }

  .whatsapp {
    background: linear-gradient(to bottom, #3385ff 0%, #005be4 100%);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 2rem;
  }

  .person {
    text-align: center;
    background-color: #f1f1f1;
    border: 2px solid #cccccc;
    padding: 10px;
    margin: 10px;
    border-radius: 0.5rem; 
  }
  /*------------END CONTENT-----------*/

/*-------------FOOTER------------*/
footer {
    width: 100%;
    position:relative;
    background-color: #333;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 500px) {
}